*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

header{

    display: flex;
    border-bottom:1px solid gray ;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 130px;
}

.headerleft{
    display: flex;
    align-items: center;
}
.logo{
    padding: 20px 30px;
    border-right: 1px solid gray;
}
.headeraddress{
    padding: 20px;
}
.headeraddress h3{
    font-size: 18px;
    margin-bottom: 5px;
}
.headeraddress p{
    font-size: 14px;
}
.searchbox{
    flex-grow: 1;
    border-radius: 15px;
    background-color: #f8f8f8;
    display:flex;
    margin: 30px 0px;
    border: 1px none;
    
}
.searchbox button{
    padding:15px;
    border: none;
    background-color: transparent;

}
.searchbox input{
   flex-grow: 1;
   border: none;
   background-color: transparent;
}
.searchbox input:focus{
    outline: none;
}
.headerbtn{
    display: flex;
    gap:40px;
    margin: 40px;
    background-color: white;
}
.headerbtn button{
    font-size: 16px;
    padding: 15px;
    background-color: transparent;
    border-radius: 5px;
    border:none
}
.headerbtn button:last-child{
    color:white;
    background-color: green;
}
.banner-section{
    margin:auto;
    max-width: 1280px;
    margin-top: 140px;
}
.banner-section img{
    width:100%;
}
.order-section{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    
}
.orderitems{
    flex-basis:28%;
    box-sizing: border-box;
    margin:1%;
}
.orderitems img{
    width:100%;
}
.category-section{
    display: flex;
    max-width: 1280px;
    margin:0px auto;
    flex-direction: row;
}
.item1{
    
    flex-basis: 10%;
    box-sizing: border-box;
}
.item1 img{
    width:100%;
}
.category-section2{
    display: flex;
    max-width: 1280px;
    margin:0px auto;
    flex-direction: row;
}
.item2{
    
    flex-basis: 10%;
    box-sizing: border-box;
}
.item2 img{
    width:100%;
}
.footer{
    padding: 40px 0px 0px 0px;
}
.footer-mid{
    max-width: 1280px;
    margin: auto;
}
.footer-mid-row1{
    width:100%;
    display: flex;
}

.footer-mid-row1-left{
    flex-basis: 30%;
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}
.footer-mid-row1-left h3{
    margin-bottom: 20px;
}

.useful-links{
     display: flex;

}
.useful-links ul{
    flex-basis:33% ;
    list-style:none;
}
.useful-links ul li a{
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
    color: gray;
    text-decoration: none;
}
.footer-mid-row1-right{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.footer-mid-row1-right h3{
    margin-bottom: 20px;
}
.categories{
    display: flex;
}
.categories ul{

    flex-basis: 33%;
    list-style: none;
}
.categories ul li a{
    font-size: 14px;
    display: block;
    color: gray;
    text-decoration: none;
    margin-bottom: 15px;
}
.footer-mid-row2{
    background-color: #fcfcfc;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
}
.footer-mid-row2 p{
    flex-basis: 40%;
    text-align: center;
    font-size: 12px;
    color: #666666;
}
.download-icons{
    display: flex;
    flex-basis: 33%;
    align-items: center;
    gap: 20px;
}
.social-links{
    display: flex;
    gap:10px;
}
.social-links i{
    border-radius: 50%;
    color:white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;

}
.footer-mid-row3 p{
    padding: 20px 0px;
    font-size: 14px;
    line-height: 20px;
    color: gray;

}
